services:
  app:
    build: .
    container_name: fits-reader
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
