services:
  app:
    build: .
    container_name: fits-reader
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    environment:
      - STREAMLIT_SERVER_ADDRESS=0.0.0.0
    restart: unless-stopped
